/* Estilos para o menu fixo */
.menu {
  max-height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   background-color: #1b004e;(0, 247, 255);
    background-color: ; /* Cor de fundo do menu */
    padding: 50px 0;
    z-index: 1000; /* Para garantir que o menu fique na frente de outros elementos */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


.menu li {
    display: inline;
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Cor do texto do menu */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.menu a:hover {
    font-size: 25px;
     /* Cor do texto do menu ao passar o mouse */
}
 body {
   font-family: 'Raleway', sans-serif;
 }

 .logo img{
   position: relative;
   top: -45px;
   left: -400px;
   height: auto;
   width: 100px;
 }
 .content {
   margin-top: 80px; 
}
.footer {
   background-color: #1b004e;(0, 247, 255);
   color: rgb(255, 255, 255);
   padding: 20px;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}
